html,
body,
header {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

/*=============================
            header
=============================*/
header {
    position: relative;
    background-image: url(./images/hero-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

header .bg-light {
    background-color: #fff !important;
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0) !important;
    border-color: rgba(0, 0, 0, 0) !important;
}

header nav .container a.navbar-brand img {
    width: 10rem;
    height: 10rem;
    border: 1px solid transparent;
    border-radius: 300%;
    -webkit-border-radius: 300%;
    -moz-border-radius: 300%;
    -ms-border-radius: 300%;
    -o-border-radius: 300%;
    margin: 0 auto;
    margin-bottom: -80px !important;
    z-index: 99;
}

header .container .social-icons>ul>li>a>img {
    width: 3.5rem !important;
    padding-left: 1rem !important;
}

header #btn-box {
    position: absolute;
    bottom: 10%;
    left: 45%;
}

/*=============================
            cards
=============================*/
.progress-bar {
    background-color: #339a51;
}

.card span {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.title-break {
    width: 30px;
    height: 2px;
    background-color: #97ca4b;
    margin: 0 auto;
}

/*=============================
            gallery
=============================*/
.gallery .img-fluid-box .img-fluid {
    height: 15rem !important;
}

.gallery .img-break-left {
    padding: 2px 2px 0 0 !important;
}

.gallery .img-break-right {
    padding: 2px 0 0 0 !important;
}

/*==================================
            subscribe
==================================*/
#subscribe {
    background-color: #106842;
}

#news_letter>#subscribe .row .input-group-prepend {
    margin: 0 auto !important;
    text-align: center !important;
}

.setting-width {
    height: 2.5rem;
}

.changing-width {
    width: 8rem;
}

/*=============================
            contact-us
=============================*/
#iframe {
    width: 100%;
    height: 100%;
}

#social-icons {
    width: 50% !important;
}

#social-icons ul>li>a>img {
    width: 2rem !important;
    padding: 0 !important;
    margin: 0 !important;
}

/* media query */
@media(max-width:992px) {
    #find_us .container-fluid .col-md-6 .col-md-1 .ml-5 img {
        display: none;
    }

    #find_us .container-fluid .col-md-6 .col-md-6 {
        margin: 0 !important;
    }
}

/*=============================
            footer
=============================*/
footer {
    background-color: #106842;
}

footer p {
    color: #6a947e;
}